body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#carousel {
  max-height: 500px;
}

.signup-container {
  background-image: url('https://img.freepik.com/free-vector/aisle-grocery-store-shelves-vector-background_107791-19118.jpg?size=626&ext=jpg&ga=GA1.1.15502642.1682318452&semt=ais');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px
}